.car-section {
  width: 100%;
  /* display: grid; */
  /* grid-template-columns: 1.2fr 0.8fr; */
  gap: 20px;
}
.car-details {
  background: white;
  border-radius: 8px;
  padding: 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.car-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.category-badge {
  background: #e9ecef;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 14px;
}

.car-images {
  position: relative;
  margin-bottom: 24px;
}

.main-image {
  width: 100%;
  height: 400px;
  object-fit: fit;
  border-radius: 8px;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav-btn.prev {
  left: 10px;
}
.nav-btn.next {
  right: 10px;
}

.car-info {
  padding: 20px 0;
}

.info-row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 20px;
}

/* .info-item {
  /* background-color: #0d6efd; */
/* flex: 1  */
/* justify-content: space-between; }*/

.info-item label {
  color: #6c757d;
  margin-right: 8px;
}

.description {
  /* font-size: 12 px !important; */
  margin-bottom: 24px;
}

.owner-info {
  display: flex;
  justify-content: revert-layer;
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
  flex-direction: column;
}

.rating {
  white-space: nowrap;
  margin-top: 8px;
}

.stars {
  color: #ffd700;
  letter-spacing: 2px;
}

.rating-value {
  margin-left: 8px;
  font-weight: bold;
}

.rating-count {
  color: #6c757d;
  font-size: 14px;
}

.availability {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.availability-item {
  color: #198754;
  display: flex;
  align-items: center;
  gap: 8px;
}

.info-button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 8px;
  cursor: pointer;
  position: relative;
  color: #6c757d;
}

.info-button:hover {
  color: #0d6efd;
}

.info-tooltip {
  position: absolute;
  bottom: calc(100% + 10px);
  right: -10px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  z-index: 1000;
  text-align: left;
}

.info-tooltip:after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 13px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.info-tooltip h4 {
  margin: 0 0 10px;
  color: #2c3e50;
  font-size: 14px;
  font-weight: 600;
}

.rate-item {
  margin: 5px 0;
  font-size: 13px;
  color: #4a5568;
}

.rate-item span {
  font-weight: 500;
  color: #2d3748;
  display: inline-block;
  width: 110px;
}
