* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color:#3c4248 */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}


.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
