* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color:#3c4248 */

}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f7f6;
  color: #333;
  line-height: 1.6;
}

.footer {
  margin-top:4px;
  margin-left: auto;
  margin-right: auto;
  width: 92.7%;
  color: #fff;
  padding: 20px;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
