<!-- <div class="car-card" ng-mouseenter="$ctrl.startCarousel()" ng-mouseleave="$ctrl.stopCarousel()"> -->
<div class="car-card">
    <div class="carousel">
        <div uib-carousel active="active" no-wrap="false" no-pause="true">
            <div uib-slide ng-repeat="image in $ctrl.car.images track by $index" index="$index">
                <img ng-src="{{image}}" alt="Car Image {{$index + 1}}" class="carousel-image">
            </div>
        </div>
    </div>
    <div class="car-details">
        <h3 class="car-name">{{$ctrl.car.carName}}</h3>
        <div class="car-features">
            <span class="feature" ng-repeat="feature in $ctrl.car.featured">{{feature}}</span>
        </div>
        <div class="rating-container">
            <div class="car-rating">
                <star-rating rating="$ctrl.car.avgRating"></star-rating>
                <span class="rating-count">
                    ({{$ctrl.car.avgRating | number:1}}/5,
                    {{$ctrl.car.ratingCount || "0"}} reviews)
                </span>
            </div>
        </div>
        <div class="home-user-info">
            <svg class="user-icon" viewBox="0 0 24 24" width="16" height="16">
                <path
                    d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
            </svg>
            <span class="user-name">{{$ctrl.car.owner.username}}</span>
        </div>
        <div class="car-price-city">
            
            <p>Starting <span class="price">₹{{$ctrl.getDisplayPrice().amount}}/{{$ctrl.getDisplayPrice().unit}}
            </span> </p>

            
            <span class="city">{{$ctrl.car.city}}</span>
        </div>
        <button ng-if="$ctrl.showButton !== false" ng-class="['book-now-btn', $ctrl.buttonClass]"
            ng-click="$ctrl.handleButtonClick()">
            {{$ctrl.buttonText || 'Book Now'}}
        </button>
        <!-- <button class="book-now-btn" ng-click="$ctrl.handleBookClick()">Book Now -->
        </button>
    </div>
</div>