<div class="container" ng-controller="BiddingController as vm" ng-init="vm.init()">
    <div class="row">
        <div class="col-xs-12">
            <!-- Loading State -->
            <div ng-if="vm.loading" class="text-center">
                <span class="glyphicon glyphicon-refresh spinning"></span>
                Loading...
            </div>

            <!-- Content when loaded -->
            <div ng-if="!vm.loading">
                <!-- Car Details Section -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default" style="margin-bottom: 20px;">
                            <div class="panel-body">
                                <car-details car="vm.car"></car-details>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bid and Chat Section -->
                <div class="row">
                    <!-- Bid Form Section -->
                    <div class="col-xs-12 col-md-8" style="margin-bottom: 20px;">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <bid-form car-id="vm.car._id" car="vm.car" on-bid-submit="vm.handleBidSubmit(bid)"
                                    is-submitting="vm.isSubmitting">
                                </bid-form>
                            </div>
                        </div>
                    </div>

                    <!-- Chat Section -->
                    <div class="col-xs-12 col-md-4" ng-if="vm.chatId">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <chat-box chat-id="vm.chatId" from-user="vm.currentUser" to-user="vm.car.owner">
                                </chat-box>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* Add these styles for better responsiveness */
    @media (max-width: 767px) {
        .panel {
            margin-bottom: 15px;
        }

        .panel-body {
            padding: 15px;
        }
    }

    /* Loading spinner animation */
    .glyphicon.spinning {
        animation: spin 1s infinite linear;
        display: inline-block;
        font-size: 24px;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
</style>