<div class="content" ng-controller="UserBidsController" ng-init="vm.init()">
    <div class="table-container">
        <table id="bidding-table">
            <thead>
                <tr>
                    <th>Car</th>
                    <th>Car Owner</th>
                    <th>Bid Amount</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Placed At</th>
                    <th>Total Amount</th>
                    <th>Rental Type
                        <select ng-model="vm.filters.rentalType" ng-change="vm.filterBids()">
                            <option value="">All</option>
                            <option value="local">Local</option>
                            <option value="outstation">Outstation</option>
                        </select>
                    </th>
                    <th>
                        Status
                        <select ng-model="vm.filters.status" ng-change="vm.filterBids()">
                            <option value="">All</option>
                            <option value="pending">Pending</option>
                            <option value="accepted">Approved</option>
                            <option value="rejected">Rejected</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="!vm.bids.length">
                    <td colspan="10" class="no-biddings">No biddings exist.</td>
                </tr>
                <tr ng-repeat="bid in vm.filteredBids">
                    <td>{{bid.car.carName}}</td>
                    <td>{{bid.car.owner.username}}</td>
                    <td>{{bid.bidAmount | currency}}</td>
                    <td>{{bid.fromTimestamp | date:'MM/dd/yyyy'}}</td>
                    <td>{{bid.toTimestamp | date:'MM/dd/yyyy'}}</td>
                    <td>{{bid.createdAt | date:'MM/dd/yyyy HH:mm'}}</td>
                    <td>{{bid.bidBaseFare | currency}}</td>
                    <td>{{bid.rentalType}}</td>
                    <td>{{bid.status}}</td>
                    <td>
                        <button ng-if="bid.status === 'pending'" ng-click="vm.cancelBid(bid)" class="btn btn-danger">
                            Cancel
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>