<div class="messages-content" ng-controller="UserMessagesController" ng-init="vm.init()">
    <h2>All Conversations</h2>
    <div id="message-list" class="message-list" >
        <p class="no-messages" ng-if="!vm.messages.length">Loading conversations...</p>
        <div ng-repeat="message in vm.messages" ng-click="vm.goToMessagePage(message.chatId)">
            <img ng-src="{{vm.message.otherParticipant.profileImage || '../../../app/assets/images/profile.jpg'}}" alt="Profile">
            <div class="message-content">
                <div class="name">{{message.owner.username}}</div>
                &nbsp;&nbsp;
                <div class="last-message">{{message.lastMessage}}</div>
                <div class="timestamp">{{message.lastTimestamp}}</div>
            </div>
        </div>
    </div>
</div>