<div class="navbar-container" ng-controller="NavbarController as vm">
    <div class="header">
        <div class="logo">
            <a ui-sref="home" ng-if="!vm.isLoggedIn || vm.currentUser.role === 'customer'">
                <img src="app/assets/images/logo.png" alt="Car Rental Logo">
            </a>
        </div>
        <nav class="nav-links">
            <a ng-repeat="link in vm.links"
               ui-sref="{{link.state}}"
               ui-sref-active="active">
                {{link.label}}
            </a>

            <a ng-if="vm.isLoggedIn" 
               ng-click="vm.logout()" 
               href="javascript:void(0)"
               class="logout-link">
                Logout
            </a>
        </nav>
    </div>
</div>