.navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.header {
    width: 78.5%;
    background: #2c3e50;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:8px;
    /* margin-bottom: 20px; */
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.logo img {
    height: 50px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #ecf0f1;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    transition: color 0.3s, transform 0.2s;
}

.nav-links a:hover {
    cursor: pointer;
    color: #3498db;
    transform: scale(1.05)
}

.nav-links a.active {
    color: #3498db;
    font-weight: bold;
}

.logout-link {
    cursor: pointer;
    color: #e74c3c !important;
}

.logout-link:hover {
    color: #c0392b !important;
}