th.sortable {
  cursor: pointer;
}

th.sortable::after {
  content: " ▲▼";
  font-size: 0.8em;
  color: #aaa;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #0056b3;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button-danger {
  background-color: #dc3545;
}

.button-danger:hover {
  background-color: #c82333;
}

@media screen and (max-width: 600px) {
  .modal-content {
      width: 100%;
  }
  .main {
      width: auto;
  }
  .section {
      width: 600px;
      overflow-x: scroll;
  }
}