<div class="chatbox" ng-controller="UserMessageController" ng-init="vm.init()">
    <h3>Chat with {{vm.messages[0].fromUser.userId === vm.currentUser.userId ? vm.messages[0].toUser.username :
        vm.messages[0].fromUser.username}}</h3>

    <div id="chat-messages" class="chat-messages">
        <div ng-repeat="msg in vm.messages" class="chat-message"
            ng-class="{'message-you': msg.fromUser.userId === vm.currentUser.userId, 'message-owner': msg.fromUser.userId !== vm.currentUser.userId}">
            <div>
                <strong>{{msg.fromUser.userId === vm.currentUser.userId ? 'You' : msg.fromUser.username}}:</strong>
                {{msg.message}}
            </div>
            <div ng-if="msg.attachment">
                <img ng-if="msg.attachment.startsWith('data:image/')" ng-src="{{msg.attachment}}"
                    class="chat-attachment">
                <div ng-if="!msg.attachment.startsWith('data:image/')">
                    <strong>Attachment:</strong>
                    <a ng-href="{{msg.attachment}}" download>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path
                                d="M16 9V7a4 4 0 0 0-8 0v10a2 2 0 0 0 4 0V7a1 1 0 1 1 2 0v10a4 4 0 0 1-8 0V7a6 6 0 1 1 12 0v2h-2z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="timestamp">{{msg.createdAt | date:'medium'}}</div>
        </div>
    </div>

    <div class="chat-input">
        <input type="text" ng-model="vm.newMessage" placeholder="Type a message"
            ng-keypress="$event.keyCode === 13 && vm.sendMessage()">

            <label for="chat-file-input" class="chat-file-label">
                📎
            </label>
        <input type="file" id="chat-file-input" ng-model="vm.fileInput" ng-value="vm.fileInput" class="chat-file-input" accept="image/*,video/*,application/pdf"
            onchange="angular.element(this).scope().handleFileSelect(this.files)">

        <button ng-click="vm.sendMessage()" class="send-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M2 21l21-9L2 3v7l15 2-15 2v7z"></path>
            </svg>
        </button>
    </div>
</div>